<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jeansmits.jsonexercise" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE". -->
    <permission android:protectionLevel="signature"
        android:name="com.example.jeansmits.jsonexercise.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.example.jeansmits.jsonexercise.permission.C2D_MESSAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".utils.VDABApplication">
        <activity
            android:name=".activities.MainActivityListOfMoviesActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.SEARCH"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DetailPageMoviesActivity"
            android:label="JsonExercise" >
        </activity>
        <activity
            android:name=".activities.SaveSomethingActivity"
            android:label="JsonExercise" >
        </activity>
        <activity
            android:name=".activities.TakePhotosActivity"
            android:label="JsonExercise" >
        </activity>
        <activity
            android:name=".activities.ListOfPicturesActivity"
            android:label="JsonExercise" >
        </activity>
        <activity
            android:name=".activities.SaveInDatabaseActivity"
            android:label="JsonExercise" >
        </activity>
        <activity
            android:name=".activities.ExerciseOnFragmentsActivity"
            android:label="JsonExercise" >
        </activity>
        <activity
            android:name=".activities.ExerciseOnDrawerActivity"
            android:label="JsonExercise" >
        </activity>
        <activity
            android:name=".activities.ExerciseOnCameraActivity"
            android:label="JsonExercise" >
        </activity>
        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- Change "com.parse.starter" to match your app's package name. -->
                <category android:name="com.example.jeansmits.jsonexercise" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
